html, body {
  height: 100%;
}

.min-100 {
    min-height: 100%;
}
.navbar-custom {
  background-color: #14558f;
  color: #FFFFFF;
}

.custom-column{
bottom: 45px;
    top: 0px;
    left: 0px;
	right: 0px;
    position: absolute;
	min-height: 800px;
}

#mainDiv {
  padding-right: 0px;
  padding-left: 0px;
}
.nav-link, .btn.my-sm-0 {
  color: #FFFFFF;
}
.sideContents {
  padding-top: 15px;
}
select {
  padding-bottom: 6px;
}
.ui-autocomplete {
  max-height: 400px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: auto;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
  height: 400px;
}
.projList {
  color: darkblue;
  font-size: 14px;
  text-align: left;
}
.comments-list .media {
  border-bottom: 1px dotted #ccc;
}

#viewDiv, .col-xl{
	min-height: 800px;
}

.popup-link{
	color: blue;
}

.esri-legend__layer-caption {
display: none;
}

#programHint{
	font: italic;
	font-size: 10px;
}