/* Show it is fixed to the top */
body {
  min-height: 75rem;
}

.navbar-custom {
  background-color: #14558f;
  color: #FFFFFF;
}

#mainDiv {
  padding-right: 0px;
  padding-left: 0px;
}
.nav-link, .btn.my-sm-0 {
  color: #FFFFFF;
}
.sideContents {
	min-height: 400px;
	overflow: auto;
}
select {
  padding-bottom: 6px;
}
.ui-autocomplete {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
}

* html .ui-autocomplete {
  height: 400px;
}
.projList {
  color: darkblue;
  font-size: 14px;
  text-align: left;
}
.comments-list .media {
  border-bottom: 1px dotted #ccc;
}

#viewDiv, .col-xl{
	min-height: 800px;
}

.popup-link{
	color: blue;
}

.esri-legend__layer-caption {
display: none;
}

#programHint{
	font: italic;
	font-size: 10px;
}