html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.navbar-custom {
  background-color: #14558f;
  color: #FFFFFF;
}

.main_container{
bottom: 0px;
    top: 0px;
    left: 0px;
    position: fixed;
}


.custom-column{
bottom: 0px;
    top: 0px;
    left: 0px;
    position: absolute;
}

#mainDiv {
  padding-right: 0px;
  padding-left: 0px;
}
.nav-link, .btn.my-sm-0 {
  color: #FFFFFF;
}
.sideContents {
  padding-top: 15px;
}
select {
  padding-bottom: 6px;
}
.ui-autocomplete {
  max-height: 400px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: auto;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
  height: 400px;
}
.projList {
  color: darkblue;
  font-size: 14px;
  text-align: left;
}
.comments-list .media {
  border-bottom: 1px dotted #ccc;
}

#viewDiv, .col-xl{
	min-height: 500px;
}